html,
body,
.text-caption,
.v-application {
    font-family: 'Poppins', sans-serif !important;
}
p{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}
ol,
ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
.v-list-item-title {
    font-size: 0.9rem !important;
}