/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/gallery
/public/uploads
/storage/*.key
/storage/pail
/storage/gallery
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed


# Logs
error_log
public/error_log
*.log

# Test files
public/imagick-test.php