@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
html, body{
  font-family: 'Poppins', sans-serif !important;
}
.vuetify-pro-tiptap-editor__content.markdown-theme-default p {
    margin: 0 !important;
}
$secondary: #ec9214;

// Bootstrap import
// @import "bootstrap/scss/bootstrap";

/* Core Libraries */
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "swiper/css/bundle";

@import "override";

// Override .theme-space padding
.theme-space {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

@media (min-width: 1200px) {
  .theme-space {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
}

* {
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
}



/* Ensure the mega menu aligns with the container */
/* Center the mega menu and restrict width to container size */
.navbar .dropdown.position-static .dropdown-menu {

  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /* max-width: 1140px; */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.whatsapp-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #25d366;
  color: white;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
  transition: background-color 0.3s ease;
}



.whatsapp-fab i {
  font-size: 28px;
}

.whatsapp-fab a:hover {
  color: white
}



ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.mega-menu {
  .dropdown-item {
    padding: 5px 10px;
    border-radius: 3px;
    white-space: normal !important;
    word-wrap: break-word;
    word-break: break-word;
    // margin-bottom: 2px;
    font-weight: 500;
    color: #666464;
    font-size: 0.9rem;
  }

  h6 {
    padding-left: 10px;
  }

  .dropdown-item:hover {
    background-color: #fff;
    color: #44caf0;
    background: #f6f6f6;
  }
}

.navbar {
  background: radial-gradient(circle at center, #f0fcff 40%, #ffffff 100%);

  .dropdown-menu {
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 2px 12px rgb(0 0 0 / 5%);
  }

  .nav-link {
    font-weight: 800 !important;
    font-size: 1.1rem;
  }

  #destination,
  #helicopter-tours {
    // padding: 14px;

    ul {
      padding: 10px;
    }

    .dropdown-item {
      color: #666464;
      font-size: 0.9rem;
    }

  }

}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #ffffff !important;
}

@import "home-page";